/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  align-items: start;

  &:not(.mobile) {
    @media (max-width: 600px) {
      display: block;
    }
  }

  .mat-form-field-infix {
    width: auto;
  }
}
