mat-form-field {
  width: 100%;
  min-width: 1px;

  .search {
    cursor: pointer;
  }
}

.flex.multiple {
  mat-form-field + mat-form-field {
    margin-left: 8px;
  }
}

.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin: 50px;

  @media (max-width: 600px) {
    display: none;
  }
}

button + button {
  margin-left: 4px;
}

.rules {
  margin-right: auto;

  input {
    display: none;
  }
}

.import {
  margin-top: 12px;
  margin-left: 8px;
}

mat-spinner {
  margin: 2px;
}
