h2 {
  display: flex;

  a {
    margin-left: auto;
    color: inherit;
  }
}

mat-form-field {
  width: 100%;
  min-width: 1px;

  .search {
    cursor: pointer;
  }
}

.flex {
  mat-form-field + mat-form-field {
    margin-left: 8px;
  }
}

button + button {
  margin-left: 4px;
}

.close {
  margin-left: auto;
}

.import {
  margin-right: 8px;

  mat-spinner {
    margin-right: 8px;
    display: inline-block;
  }
}

mat-progress-bar {
  margin-top: calc(-1.34375em - 4px);
  margin-bottom: 1.34375em;
}
