<form [formGroup]="form" (ngSubmit)="saveAndClose()">
  <h2 mat-dialog-title>Board game</h2>

  <mat-dialog-content>
    <ng-container *ngIf="data$ | async as data; else loading">
      <div class="grid">
        <div>
          <mat-form-field>
            <mat-label>Board game name</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>

          <div class="grid mobile bgg">
            <mat-form-field>
              <mat-label>BoardGameGeek™ Id</mat-label>
              <input type="text" matInput formControlName="boardGameGeekId">
              <mat-icon *ngIf="form.value.name && !form.value.boardGameGeekId && !searching" class="search" matSuffix
                        (click)="searchForBoardGameGeekId()">
                search
              </mat-icon>
              <mat-spinner *ngIf="searching || importing" matSuffix [diameter]="20"></mat-spinner>
            </mat-form-field>

            <button mat-flat-button type="button" class="import" color="accent" (click)="importFromBoardGameGeek()"
                    [disabled]="!form.value.boardGameGeekId || importing">
              BGG™ Import
            </button>
          </div>

          <div class="grid mobile">
            <mat-form-field>
              <mat-label>Minimum players</mat-label>
              <mat-select formControlName="minPlayers">
                <mat-option *ngFor="let nr of null | numbers : 1 : 4" [value]="nr">{{ nr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Maximum players</mat-label>
              <mat-select formControlName="maxPlayers">
                <mat-option *ngFor="let nr of null | numbers : 1 : 20 : 1 : form.value.minPlayers" [value]="nr">{{ nr }}</mat-option>
                <mat-option [value]="99">21 or more</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid mobile">
            <mat-form-field>
              <mat-label>Minimum play time</mat-label>
              <mat-select formControlName="minDuration">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let nr of null | numbers : 5 : 240 : 5" [value]="nr">{{ nr }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Maximum play time</mat-label>
              <mat-select formControlName="maxDuration">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let nr of null | numbers : 5 : 240 : 5 : form.value.minDuration" [value]="nr">{{ nr }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Minimum age</mat-label>
            <mat-select formControlName="minAge">
              <mat-option [value]="0">No restriction</mat-option>
              <mat-option *ngFor="let nr of null | numbers : 1 : 18" [value]="nr">{{ nr }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Expansion to</mat-label>
            <mat-select formControlName="mainGameId">
              <mat-option [value]="null"></mat-option>
              <mat-option *ngFor="let game of data.games" [value]="game.id">{{ game.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="cover" [style.backgroundImage]="coverSrc"></div>
      </div>

      <mat-form-field>
        <mat-label>Publisher</mat-label>
        <mat-select formControlName="publisherId">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let publisher of data.publishers" [value]="publisher.id">{{ publisher.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="grid">
        <mat-form-field>
          <mat-label>Authors</mat-label>
          <mat-select formControlName="authors" multiple>
            <mat-option *ngFor="let person of data.persons" [value]="person.id">{{ person.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Illustrators</mat-label>
          <mat-select formControlName="illustrators" multiple>
            <mat-option *ngFor="let person of data.persons" [value]="person.id">{{ person.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid">
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let category of data.categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mechanics</mat-label>
          <mat-select formControlName="mechanics" multiple>
            <mat-option *ngFor="let mechanic of data.mechanics" [value]="mechanic.id">{{ mechanic.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <a *ngIf="context.item.hasRules" [href]="rulesSrc" class="rules" target="_blank">
      <button mat-flat-button type="button" color="accent">Open Rules</button>
    </a>
    <button *ngIf="context.item.id && !context.item.hasRules" mat-flat-button type="button" class="rules" color="warn"
            (click)="file.click()">
      Upload Rules
      <input type="file" #file formControlName="rules">
    </button>
    <button mat-button type="button" [mat-dialog-close]="reload">Close</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid || form.pristine">Save</button>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <ttb-spinner></ttb-spinner>
</ng-template>
