<form [formGroup]="form" (ngSubmit)="saveAndClose()">
  <h2 mat-dialog-title>Board game</h2>

  <mat-dialog-content>
    <ng-container *ngIf="data$ | async as context; else loading">
      <mat-form-field>
        <mat-label>Board game name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>

      <div class="flex">
        <mat-form-field class="flex-1">
          <mat-label>Minimum players</mat-label>
          <mat-select formControlName="minPlayers">
            <mat-option *ngFor="let nr of null | numbers : 1 : 4" [value]="nr">{{ nr }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-1">
          <mat-label>Maximum players</mat-label>
          <mat-select formControlName="maxPlayers">
            <mat-option *ngFor="let nr of null | numbers : +form.value.minPlayers : 20" [value]="nr">{{ nr }}</mat-option>
            <mat-option [value]="99">21 or more</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field class="flex-1">
          <mat-label>Minimum play time</mat-label>
          <mat-select formControlName="minDuration">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let nr of null | numbers : 5 : 120 : 5" [value]="nr">{{ nr }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-1">
          <mat-label>Maximum play time</mat-label>
          <mat-select formControlName="maxDuration">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let nr of null | numbers : +form.value.minDuration : 240 : 5" [value]="nr">{{ nr }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Expansion to</mat-label>
        <mat-select formControlName="mainGameId">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let game of context.games" [value]="game.id">{{ game.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Publisher</mat-label>
        <mat-select formControlName="publisherId">
          <mat-option *ngFor="let publisher of context.publishers" [value]="publisher.id">{{ publisher.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>BoardGameGeek™ Id</mat-label>
        <input type="text" matInput formControlName="boardGameGeekId">
        <mat-icon *ngIf="form.value.name && !form.value.boardGameGeekId" class="search" matSuffix (click)="search()">search</mat-icon>
      </mat-form-field>
      <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>

      <mat-form-field>
        <mat-label>Authors</mat-label>
        <mat-select formControlName="authors" multiple>
          <mat-option *ngFor="let person of context.persons" [value]="person.id">{{ person.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Illustrators</mat-label>
        <mat-select formControlName="illustrators" multiple>
          <mat-option *ngFor="let person of context.persons" [value]="person.id">{{ person.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categories</mat-label>
        <mat-select formControlName="categories" multiple>
          <mat-option *ngFor="let category of context.categories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mechanics</mat-label>
        <mat-select formControlName="mechanics" multiple>
          <mat-option *ngFor="let mechanic of context.mechanics" [value]="mechanic.id">{{ mechanic.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button type="button" class="import" color="accent" (click)="import()"
            [disabled]="!form.value.boardGameGeekId || importing">
      <mat-spinner *ngIf="importing" [diameter]="20"></mat-spinner>
      BGG™ Import
    </button>
    <mat-checkbox (change)="overwrite = $event.checked">Overwrite</mat-checkbox>
    <button mat-button class="close" type="button" [mat-dialog-close]="reload">Close</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid || form.pristine">Save</button>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <ttb-spinner></ttb-spinner>
</ng-template>
