mat-form-field {
  width: 100%;
  min-width: 1px;

  .search {
    cursor: pointer;
  }
}

.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  align-self: stretch;
  justify-self: stretch;
  margin: 50px;

  @media (max-width: 600px) {
    display: none;
  }
}

button + button {
  margin-left: 4px;
}

.bgg {
  grid-template-columns: 1fr auto;

  .import {
    margin-top: 12px;
    margin-left: 8px;
  }

  mat-spinner {
    margin: 2px;
  }
}

.rules {
  margin-right: auto;

  input {
    display: none;
  }
}
