<mat-table *ngIf="items$ | async as items; else loading" [dataSource]="items" matSort (matSortChange)="this.resort($event)"
           [matSortActive]="sort.active" [matSortDirection]="sort.direction">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name']" routerLink="." [queryParams]="{ id: row.id }"></mat-row>
</mat-table>

<button mat-fab class="add" color="primary" (click)="add()"><mat-icon>create</mat-icon></button>

<ng-template #loading>
  <ttb-spinner></ttb-spinner>
</ng-template>
