:host {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  &.is-mobile {
    mat-toolbar {
      position: fixed;
      z-index: 2;
    }

    mat-sidenav-container {
      flex: 1 0 auto;
    }
  }
}

h1 {
  margin-left: 8px;

  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 4px;
  }
}

mat-sidenav-container {
  flex: 1;
}

mat-nav-list {
  padding-top: 7px;

  mat-icon {
    margin-right: 8px;
  }
}
