:host {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  &.is-mobile {
    mat-sidenav-container {
      flex: 1 0 auto;
    }
  }
}

h1 {
  margin-left: 8px;

  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 4px;
  }
}

mat-sidenav-container {
  flex: 1;
}

a mat-icon {
  margin-right: 8px;
}
