table {
  width: 100%;

  .mat-row {
    cursor: pointer;
  }

  .mat-column-minPlayers,
  .mat-column-maxPlayers {
    width: 50px;
    text-align: center;
  }

  .mat-column-isExtension {
    width: 70px;
    text-align: center;

    mat-icon {
      color: rgba(0, 0, 0, .4);
    }
  }

  .mat-column-boardGameGeekId {
    width: 50px;
    text-align: center;

    a {
      color: inherit;
    }
  }
}

.add {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
