<mat-table *ngIf="items$ | async as games; else loading" [dataSource]="games" matSort (matSortChange)="this.resort($event)"
           [matSortActive]="sort.active" [matSortDirection]="sort.direction">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let game">{{ game.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="publisher">
    <mat-header-cell *matHeaderCellDef>Publisher</mat-header-cell>
    <mat-cell *matCellDef="let game">{{ game.publisherId | publisher$ | async }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="minPlayers">
    <mat-header-cell *matHeaderCellDef>Min.</mat-header-cell>
    <mat-cell *matCellDef="let game">{{ game.minPlayers }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="maxPlayers">
    <mat-header-cell *matHeaderCellDef>Max.</mat-header-cell>
    <mat-cell *matCellDef="let game">{{ game.maxPlayers }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="isExtension">
    <mat-header-cell *matHeaderCellDef>Ext.</mat-header-cell>
    <mat-cell *matCellDef="let game">
      <mat-icon *ngIf="game.mainGameId">extension_outlined</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="boardGameGeekId">
    <mat-header-cell *matHeaderCellDef>BGG™</mat-header-cell>
    <mat-cell *matCellDef="let game">
      <a *ngIf="game.boardGameGeekId" [href]="'https://boardgamegeek.com/boardgame/' + game.boardGameGeekId" target="_blank"
         (click)="$event.stopPropagation()">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name', 'publisher', 'minPlayers', 'maxPlayers', 'isExtension', 'boardGameGeekId']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name', 'publisher', 'minPlayers', 'maxPlayers', 'isExtension', 'boardGameGeekId']"
           (click)="show(row)"></mat-row>
</mat-table>

<button mat-fab class="add" color="primary" (click)="add()">
  <mat-icon>playlist_add</mat-icon>
</button>

<ng-template #loading>
  <ttb-spinner></ttb-spinner>
</ng-template>
