.mat-table {
  .mat-row {
    cursor: pointer;
  }

  .mat-column-minPlayers,
  .mat-column-maxPlayers {
    flex: 0 0 50px;
    justify-content: center;
  }

  .mat-column-isExtension {
    flex: 0 0 70px;
    justify-content: center;

    mat-icon {
      color: rgba(0, 0, 0, .4);
    }
  }

  .mat-column-boardGameGeekId {
    flex: 0 0 50px;
    justify-content: center;

    a {
      color: inherit;
    }
  }
}

.add {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
